altgraph==0.17.4
appdirs==1.4.4
blessed==1.21.0
bottle==0.13.3
bottle-websocket==0.2.9
build==1.2.2.post1
chardet==5.2.0
click==8.1.8
Eel==0.18.1
flyingcircus==0.1.4.1
future==1.0.0
gevent==25.4.2
gevent-websocket==0.10.1
greenlet==3.2.1
Nuitka==2.7.1
ordered-set==4.1.0
packaging==25.0
pip-tools==7.4.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyparsing==3.2.3
pypdf==5.4.0
pyproject_hooks==1.2.0
pytk==0.0.2.1
setuptools==80.3.1
setuptools-scm==8.3.1
tomli==2.2.1
typing_extensions==4.13.2
wcwidth==0.2.13
wheel==0.45.1
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
